---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import "minimal-mistakes/skins/mint";
@import "minimal-mistakes";

.feature__wrapper .feature__item {
  width: 25% !important;
  float: left;
}